body {
	height: 100vh;
}

.jumboDark {
	background-color: black;
	color: white;
}

.jumboDark ul li {
	background-color: white;
	color: black;
}

.controls {
	float: right;
	user-select: none;
}

.edit {
	cursor: pointer;
}

.delete {
	cursor: pointer;
}
